@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../font/codropsicons/codropsicons.eot');
	src: url('../font/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../font/codropsicons/codropsicons.woff') format('woff'), url('../font/codropsicons/codropsicons.ttf') format('truetype'), url('../font/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #444;
    background: #f4efe5;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: #d1b790;
    outline: none;

    &:hover, &:focus{
        color: #bba077;
        outline: none;
    }
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}


.mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
