.news {
    margin: 10px;

    ol {
        color: #ccc;
        list-style-type: none;
        -webkit-padding-start: 0;
    }

    li {
        position: relative;
        font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
        margin-bottom: 20px;
    }
 
    li p {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 30px;
    color: #555;
    }
 
    span {
        position: absolute;
        line-height: 24px;
        font-size: 20px;
        color: #696969;
    }
}
 
