@import './color.less';

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: @white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .modal-header {
        padding: 2px 16px;
        background-color: @pink;
        color: @white;
        font-family: 'Playfair Display';
    }

    .modal-body {
        padding: 2px 16px;
        font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Arial, Helvetica, sans-serif;

        .intro{
            font-size: 12px;
            font-weight: 800;
            display: block;

            img{
                width: 15px;
                vertical-align: middle;
            }
        }

        .light{
            font-weight: 600;
        }
    }

    .close {
        color: @white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.small{height: 75px !important;}

.market-item{
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    padding: 0;
    height: 100px;
    overflow: hidden;

    .image{
        height: 100%;
        width: 100px;
        float: left;
    }

    .descr{
        padding: 0 10px;
        margin: 0 150px 0 100px;

        h5{
            margin: 7px 0;
            font-size: 17px;
            font-family: 'Playfair Display';
            padding-left: 5px;
        }

        .param{
            width: 50%;
            float: left;
            padding: 0 5px;
        }

        span{
            font-size: 10px;
            font-weight: 600;

            text{
                font-weight: 400;
            }
        }

        .progressbar {
            background-color: rgba(0,0,0,0.6);
            border-radius: 5px; /* (height of inner div) / 2 + padding */
            padding: 1px;
        }
    
        .progressbar > div {    
            height: 8px;
            border-radius: 4px;
        }
    }

    .actions{
        float: right;
        width: 150px;
        margin-top: -25px;

        button{
            margin-left: 25px;
        }
    }

    .green{
        background-color: @green;
    }

    .red{
        background-color: @red;
    }

    .blue{
        background-color: @navy;
    }

    .pink{
        background-color: @pink;
    }
}

button {
    border-top: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.unavailable{
    font-size: 12px;
    font-weight: 800;
    padding: 5px;
    text-align: center;
    float: left;
}

.sunflower {
  margin-right: 10px;
  width: 100px;
  background: #f1c40f;
  border-bottom: #f39c12 3px solid;
  border-left: #f39c12 1px solid;
  border-right: #f39c12 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  float: left;
  font-size: 12px;
  font-weight: 800;
}

.sunflower:hover {
  opacity: 0.8;
}

.sunflower:disabled{
    cursor: default;
    background: #ccc;
    border-bottom: #9e9e9e 3px solid;
    border-left: #9e9e9e 1px solid;
    border-right: #9e9e9e 1px solid;
}

.sunflower:active {
  width: 100px;
  background: #DAB10E;
  border-bottom: #f39c12 1px solid;
  border-left: #f39c12 1px solid;
  border-right: #f39c12 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 3px;
  float: left;
}

.grass {
  margin-right: 10px;
  width: 100px;
  background: #a0d468;
  border-bottom: #8cc152 3px solid;
  border-left: #8cc152 1px solid;
  border-right: #8cc152 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  float: left;
  font-size: 12px;
  font-weight: 800;
}

.grass:hover {
  opacity: 0.8;
}

.grass:disabled{
    cursor: default;
    background: #ccc;
    border-bottom: #9e9e9e 3px solid;
    border-left: #9e9e9e 1px solid;
    border-right: #9e9e9e 1px solid;
}

.grass:active {
  width: 100px;
  background: #a0d468;
  border-bottom: #8cc152 1px solid;
  border-left: #8cc152 1px solid;
  border-right: #8cc152 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 3px;
  float: left;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media (max-width: 762px){
    .small{height: 75px !important;}
    .market-item{
        height: 160px;

        .descr .param{
            width: 100%;
        }

        .actions{
            margin-top: -60px;
        }
    }
}


@media (max-width: 584px){
    .small{height: 120px !important;}
    .market-item{
        height: 180px;

        .image{
            display: none;
        }

        .descr {
            margin: 0 150px 0 0;

            .param{
                width: 100%;
            }
        }
        

        .actions{
            margin-top: -60px;
        }
    }
}

@media (max-width: 456px){
    .small{height: 90px !important;}
    .market-item{
        height: 210px;

        .image{
            display: none;
        }

        .descr {
            margin: 0;
       
            .param{
                width: 100%;
            } 
        }

        .actions{
            margin: 7px -15px;
            padding: 0;
            width: 100%;

            button{
                margin: 0;
            }
        }
    }
}