@import './base.less';
@import './color.less';
@import './modal.less';

@size: 21px;
@ratio: 1.2;

@transition-time: 0.3s;

#container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(@navy, @blue);
    background: linear-gradient(@navy, @blue);
}

*[hidden-hud]{
    display: none;
}

#threejs-container{
    height: 100%;
    width: 100%;
    position: absolute;

    &[loading]{
        background-color: @navy;
        overflow: hidden;
    }

    .splash{
        position: relative;
        top: 50%;
        transform: translateY(-30%);
    }

    .splash svg {
            width: 100%;
            height: 100%;
            visibility: hidden;
    }
}

.no-display {
    display: none !important;
}

.img-circle {
    border-radius: 50%;
}

#notification{
    width:  100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    text-align: center;
    font-family: 'Playfair Display';
    padding: 20px 10px 20px 10px;
    -webkit-box-shadow: 0 0 5px @brownDark;
    -moz-box-shadow:    0 0 5px @brownDark;
    box-shadow:         0 0 5px @brownDark;

    -webkit-transform: translateY(-100%);
    -webkit-animation: slideDown 1.0s 0s ease forwards;
    -moz-transform:    translateY(-100%);
    -moz-animation:    slideDown 1.0s 0s ease forwards;

    .title{
        display: block;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description{
        display: block;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.ok{
    background: @green;
    color: @brownDark;

    #action{
        cursor: pointer;
        border: 2px solid @brownDark;
        color: @brownDark;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 20px;
        display: inline-block;
        margin-top: 10px;

        &:hover{
            color: @green;
            background: @brownDark;
        }
    }

    #close{
        display: none;
    }
}

.error{
    background: @red;
    color: @white;

    #action{
        cursor: pointer;        
        border: 2px solid @white;
        color: @white;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 20px;
        display: inline-block;
        margin-top: 10px;

        &:hover{
            color: @red;
            background: @white;
        }
    }

    #close{
        cursor: pointer;        
        color: @white;
        padding: 0 6px 3px 6px;
        font-size: 19px;
        border-radius: 5px;
        float: right;

        &:hover{
            color: @red;
            background: @white;
        }
    }
}


.header {
	position: absolute;
	top: 2vh;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
    z-index: 99999;

    h1 {
    	font-family: 'Playfair Display';
	    font-size: 60px;
    	line-height: 1;
    	margin: 0;
    	letter-spacing: -2px;
	    color: @blue;

        span {
	        font-size: 14px;
	        font-style: italic;
        	display: block;
	        margin: 0 0 -1.5em -7em;
	        letter-spacing: 0px;

        }
    }

    text[ver-indicator]{
        display: inline;
	    font-size: 9px;
	    white-space: nowrap;
        letter-spacing: 3px;
	    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	    color: @red;
    }

    text{
        display: none;
    }

    h2 {
	    font-size: 8px;
	    margin: 8px 0;
	    white-space: nowrap;
	    text-indent: 10px;
	    letter-spacing: 10px;
	    text-transform: uppercase;
	    color: @red;
    }
}
.score {
	width: 100%;
	margin: 20px 0 0;
	text-align: center;
	white-space: nowrap;
}

.score-content {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	vertical-align: top;
}

.score-label {
	font-size: 9px;
	position: relative;
	margin: 0 0 5px 0;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: @blue;
}

.score-value {
	font-family: 'Playfair Display';
	font-weight: bold;
	color: @blue;
}

.dist, .level{
    font-size: 25px;
}

.level-circle {
	position: absolute;
	left: 50%;
	width: 46px;
	margin: -37px 0 0 -23px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.fuel {
	position: relative;
	width: 60px;
	height: 8px;
	margin-top: 20px;
	border-radius: 3px;
	background-color: @blue;
}

.fuel-bar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    padding: 1%;
	margin: 2px;
	-webkit-animation-name: none;
	animation-name: none;
	-webkit-animation-duration: 150ms;
	animation-duration: 150ms;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.message {
	font-weight: bold;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

.instructions {
	font-family: 'Playfair Display';
	font-size: 14px;
	bottom: 4vh;
	letter-spacing: 3px;
	color: @blue;

    span {
    	display: block;
    	color: @red;
	    white-space: nowrap;
    }
}

.reply, .pause{
    font-size: 14px;
	bottom: 40vh;
	letter-spacing: 3px;
	color: @red;
}

.avatar{
    float: left;
    margin: 4px 0 0 4px;
    font-family: 'Playfair Display';
    font-size: 18px;
    color: @white;
    line-height: 64px;
    font-weight: bold;

    .img{
        display: inline-block;
        width: 64px;
        height: 64px;
        background-image: url('../img/rebel_pilot.gif');
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid @white;
        background-position: center;
    }

    #marketButton{
        position: fixed;
        left: 0;
        top: 50px;
        border: 2px solid;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
    }

    #hangarButton{
        position: fixed;
        left: 42px;
        top: 50px;
        border: 2px solid;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;        
    }
    
    .user-info{
        position: absolute;
        left: 74px;
        top: 14px;
        width: 100%;
        height: 50px;

        span{
            height: 50%;
            display: block;
            line-height: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        img{
            width: 20px;
            position: relative;
            top: 5px;
            left: 5px;
        }
    }

    #bestScoreLabel{
        color: @red;
    }

    #moneyLabel{
        color: @pink;
    }
}

.settings{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Playfair Display';
    font-size: 18px;
    color: @white;

    span{
        position: fixed;
        right: (@size * 4.5);
        top: (@size * 1.2);
    }

    .play{
        display: inline-block;
        width: 0; 
	    height: 0; 
	    border-top: @size solid transparent;
	    border-bottom: @size solid transparent;
	    border-left: (@size * @ratio) solid @white;
        margin: 15px auto @size auto;
        position: relative;
        z-index: 1;
        transition: all @transition-time;
        -webkit-transition: all @transition-time;
        -moz-transition: all @transition-time;
        left: -(@size);

        &:before {
            content:'';
            position:absolute;
            top:(@size * -1.5);
            left:(@size * -2.3);
            bottom:(@size * -1.5);
            right:(@size * -0.7);
            border-radius: 50%;
            border: (@size * 0.25) solid @white;
            z-index:2;
            transition: all @transition-time;
            -webkit-transition: all @transition-time;
            -moz-transition: all @transition-time;
        }
        &:after {
            content:'';
            opacity:0;
            transition: opacity (@transition-time * 2);
            -webkit-transition: opacity (@transition-time * 2);
            -moz-transition: opacity (@transition-time * 2);
        }
  
        &:hover, &:focus {
            &:before {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
            }
        }
  
        &.active {
	        border-color: transparent;
            &:after {
                content: '';
                opacity: 1;
                width: (@size * 1.2);
                height: (@size * 1.6);
                background: transparent;
                position: absolute;
                right: (@size * 0.2);
                top: (@size * -0.8);
                border-left: (@size * 0.4) solid @white;
                border-right: (@size * 0.4) solid @white;
                box-shadow: inset (@size*0.6) 0 0 0 transparent;
            }
        }
    }
}

@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0px); }
}


@-webkit-keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@media only screen and (max-device-width: 680px) {
	.header {
        h1:not([loading]), h2:not([loading]){
            display: none;
        }
        .score{
            margin: 75px 0 0 0;
        }
	}
    .settings span{
        display: none;
    }
}

@media (max-width: 1020px){
    .settings span{
        display: none;
    }
}

@media (max-width: 680px){
    .settings, .avatar{
        font-size: 14px;
    }

    .header h1{
        font-size: 36px;

        span{
            margin: 0 0 -0.5em -3em;
        }
    }
}

@media (max-width: 520px){
    .settings, .avatar{
        font-size: 14px;
    }
    .header h1:not([loading]), .header h2:not([loading]){
        display: none;
    }

    .header .score{
        margin: 75px 0 0 0;
    }
}